*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    min-height:100vh;
}

nav{
    min-height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#fd287a;
}

nav .navbar-brand{
    color:#fff;
    font-size:2rem;
    text-decoration:none;
    font-weight:bold;
    margin-left:1rem;
}

nav ul {
    display:flex;
    margin-right:1rem;
}

nav ul li{
    list-style:none;
    margin:.5rem;
}

nav ul li a{
    color:#fff;
    font-size:1.2rem;
    text-decoration: none;
    padding:.5rem;
    transition:.3s ease;
}

nav ul li a:hover{
    filter:opacity(0.8);
}

nav ul li a:after{
    content:'';
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:3px;
    background: #9424f0;
    transform: scaleX(0);
    transition: .3s ease;
    transform-origin: left;
}

nav ul li a:hover:after{
    transform: scaleX(1);
}

.toggle{
    width: 30px;
    height:30px;
    margin-right:1rem;
    display:none;
    justify-content:space-evenly;
    flex-direction:column;
    cursor: pointer;
}

.toggle span{
    background-color: #fff;
    height:5px;
    width:100%;
    border-radius:10px;
}

@media screen and (max-width:650px) {
    nav ul{
        background:#fd287a;
        position: absolute;
        top:60px;
        left:0px;
        width:100%;
        flex-direction:column;
        padding-bottom:.5rem;
        transform:translateY(-200%);
        transition: .3s ease-in;
    }

    nav ul.open{
        transform:translateY(0);
    }

    nav .toggle{
        display:flex;
    }
}